__pycache__/
logs/
htmlcov/
.vscode/
venv/

configs/citizens.*
*.py[cod]
*$py.class
*.log
*.code-workspace

# build artifacts
citizens.egg-info/
build/
dist/
MANIFEST
*.tar.gz

# yandex-tank
yandex-tank/logs/
tests/scripts/yandex-tank/load.yaml
tests/scripts/yandex-tank/ammo.txt
tests/scripts/yandex-tank/ammo.stpd*
